<style>
h3 { margin-top: 0; }

.rating { max-width: 97px; font-size: 1.8em; padding-top:8px; }
.rating-5 .rating { color:#5cb85c; }
.rating-4 .rating { color:#5cb85c; }
.rating-3 .rating { color:#f0ad4e; }
.rating-2 .rating { color:#d9534f; }
.rating-1 .rating { color:#d9534f; }

.col-sm-8 li { padding-bottom: 1em; }

.book-form {
  display: none;
}
</style>
<div class="container">

  <h1>Reading List</h1>
      <p class="text-right"><a href='/admin' id='admin' class='btn btn-warning'>Admin</a></p>
      <p class="text-right">username: <mark>admin@example.com</mark><br/>password: <mark>password</mark></p>

  <ol class="breadcrumb">
    <li class="active">
      <h3>Books</h3>
    </li>
  </ol>

  <div class='row'>
    <div class='col-sm-12'>
      <p>
        <form>
          <legend>Search</legend>
          <div class='col-xs-4'>
            <input type='text' class='form-control' value='<%= params[:keyword] %>' name='keyword' placeholder='Keyword' >
          </div>
        </form>
      </p>
      <p class='text-right'>
        <a href='#' id='show-form' class='btn btn-primary'>New Book Form</a>
      </p>
      <p class='text-right'>
        <a href='#' id='book-club' class='btn btn-primary'>Join Book Club</a>
      </p>
      
    </div>
  </div>

  <hr>


  <div class='col-sm-12 book-form'>
    <p>
      <%= form_for(Book.new, remote: true,
                   html: { class: 'horizontal-form' }) do |f| %>
      <legend>New Book</legend>

      <div class='col-sm-5'>
        <div class='form-group'>

          <label><strong>Genre</strong></label>

          <% @genres.each do |genre| %>
            <div class="checkbox">
              <label>
                <%= check_box_tag 'book[genre_ids][]', genre.id %> <%= genre.name %>
              </label>
            </div>
          <% end %>
        </div>

        <br>

        <div class='form-group'>
          <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
        </div>
        <div class='form-group'>
          <%= f.text_field :author, class: 'form-control', placeholder: 'Author' %>
        </div>
        <div class='form-group'>
          <%= f.text_field :description, class: 'form-control', placeholder: 'Description' %>
        </div>
        <div class='form-group'>
          <%= f.text_field :amazon_id, class: 'form-control', placeholder: 'Amazon ID' %>
        </div>

        <div class='form-group'>
          <legend>Rating</legend>
          <% (1..5).each do |rating| %>
            <label class='radio-inline'>
              <%= rating %><%= f.radio_button :rating, rating %>
            </label>
          <% end %>
        </div>

        <div class='form-group'>
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      </div>
      <% end %>
    </p>
  </div>


  <div class="row">
    <div class="col-sm-8">
      <ul class="list-unstyled book-list">

        <%= render @books %>

      </ul>
    </div>
    <div class="col-sm-4">
      <h2>Genres</h2>
      <ul class="list-unstyled">
        <% @genres.each do |genre| %>
          <li>
            <%= link_to genre.name, books_path(filter: genre.name),
              class: 'label label-primary' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
